h1.welcome{
    font-family: Robotobold;
}
.iconp{
    
    color: #F97CFF;
    
}
.buttonp{
    font-family: Robotoregular !important;
}
.buttonk{
    font-family: Robotoregular !important;
}



.button.buttonpc{
   $rojo: rgb(219, 63, 63);
    height: 150px;
    width: 150px;
    padding:  -10px;
    color: black;
    font-family: Robotobold !important;
    border: 3px solid $rojo;
    border-radius: 10px;
}
.button.buttonpp{
    $amarillo:  rgb(196, 151, 27);
    height: 150px;
    width: 150px;
    padding: -10px;
    color: black;
    font-family: Robotobold !important;
    border: 3px solid $amarillo;
    border-radius: 10px;
}

.button.buttonpm{
    $rosa: rgb(231, 64, 209);
    height: 150px;
    width: 150px;
    padding: -10px;
    color: black ;
    font-family: Robotobold !important;
    border: 3px solid $rosa;
    border-radius: 10px;

}

.button.buttonpco{
    $morado: rgb(100, 64, 231);
    height: 150px;
    width: 150px;
    padding: -10px;
    color: black;
    font-family: Robotoregular !important;
    border: 3px solid $morado;
    border-radius: 10px;
}


.buttonref{
    height: 40px;
    width: 220px;
    font-family: Robotoregular !important;
    margin-left: auto;
    margin-right: auto;
}

