<app-header titulo="Niñ@s"></app-header>

<ion-content>
    <ion-grid>
        <ion-col>
            <ion-row>
             <h1 class="welcome">Bienvenido</h1>   
            </ion-row>  
            
            <ion-row>
                <ion-button class="buttonp" routerLink="/padres" >
                Padres
                </ion-button>

                <ion-button color='light' class="buttonk" routerLink="/kids">
                Niñ@s
                </ion-button>
            </ion-row> 
            
            
           
        </ion-col>


    </ion-grid>
   
    <ion-grid>

        <ion-row>
                                
                <ion-button color="clear" class="buttonpc" routerLink="/consejoskids"> 
                    <ion-icon name="ear-outline"></ion-icon>
                     Consejos
                    </ion-button>
                

                  
      <ion-button color="clear"  class="buttonpp" routerLink="/guiaskids">
                        <ion-icon name="save-outline"></ion-icon>
                        Imagenes <br> de guía 
                        </ion-button>  
                   

                
                       
                        <ion-button color="clear"  class="buttonpm" routerLink="/multimediakids">
                            <ion-icon name="caret-forward-circle-outline"></ion-icon>
                        Multimedia
                        </ion-button>
                  
                        <ion-button color="clear"  class="buttonpco" routerLink="/dibujoskids">
                            <ion-icon name="color-palette-outline"></ion-icon>
                        Dibujos <br> para <br> colorear 
                        </ion-button>  
                    

        </ion-row>
    </ion-grid>

</ion-content>
