<app-header titulo="Kids"></app-header>

<ion-content>
    <ion-grid>
        <ion-col>
            <ion-row>
             <h1 class="welcome">Bienvenido</h1>   
            </ion-row>  
            <ion-row>

            </ion-row>
            <ion-row>
                <ion-button  class="buttonp" routerLink="/padres" >
                Padres
                </ion-button>

                <ion-button color='light' class="buttonk" routerLink="/kids">
                Kids
                </ion-button>
            </ion-row> 
            
            
           
        </ion-col>


    </ion-grid>
   
    <ion-grid>

        <ion-col>
            <ion-row>
                <ion-button color='light' class="buttonk" routerLink="/kids">
                Kids
                </ion-button>
                <ion-button color='light' class="buttonk" routerLink="/kids">
                Kids
                </ion-button>                
            </ion-row>
        </ion-col>
    </ion-grid>

</ion-content>
