<app-header titulo="DentalQR"></app-header>
<ion-button expand="block" routerLink="/guiaskids" class="welcome" style="margin-left:auto;margin-right: auto; width: 95%;" >Cepillado de dientes</ion-button>

<ion-content>
  
<ion-grid>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Colocar el cepillo en un ángulo de 45° respecto a los dientes y encías. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids2.0.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
            Introducir suavemente los filamentos entre la unión de la encía y diente. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids2.1.png" class="imgL"></ion-img>
      <ion-row class="box" >
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
            Realizar movimientos cortos con el cepillo desde atrás hacia delante. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids2.3.png" class="imgL"></ion-img>
      <ion-row  class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
            Recordar limpiar todas las superficies dentarias, incluyendo la lengua. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids2.4.png" class="imgL"></ion-img>
      </ion-grid>
</ion-content>