<app-header titulo="DentalQR"></app-header>
<ion-button routerLink="/consejoskids" >Prevencion de caries</ion-button>

<ion-content style="border: 5px black; border-color:brown">
  <div style="border-color: balck;">
  <ion-grid style="background-color: rgb(156, 231, 235) ; border: 2px solid black; border-radius: 20px; margin-top: 20px;"  class="content">
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Realizar una correcta higiene dental diaria, insistiendo en el uso del hilo dental y/o los cepillos interdentales. </p>
      </ion-row>  
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Mantener una dieta equilibrada, limitando la ingesta de dulces y refrescos, especialmente en lo que se refiere a su frecuencia.</p>
      </ion-row>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Masticar chicles sin azúcar y, si es posible, que contengan xilitol, ya que puede ayudar a prevenir las caries.</p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Uso de tratamientos específicos con flúor para pacientes de alto riesgo bajo prescripción y control de su dentista. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Identificar y tratar ciertas enfermedades, como la anorexia nerviosa, la bulimia o el reflujo gastroesofágico. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Colocar selladores de fisuras en la boca o los dientes: utilizados para tapar las zonas retentivas de bacterias en los dientes posteriores, con el objetivo de prevenir la caries. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Si existe sequedad bucal, utilizar sustitutos salivares y beber agua.</p>
      </ion-row>
      <ion-img src="../../../../assets/img/prevecion de caries .png"></ion-img>
    </ion-grid>
    </div>
</ion-content>
