.imgdiente{
    align-items: center;
    text-align: center;
}
.content{
    
    border: 100px magenta;
    margin: auto;
}
ion-content{
border: 5px;
border-color: black;
}
ion-grid{
    border: 5px;
border-color: black;

}