
<app-header titulo="DentalQR"></app-header>
<ion-button routerLink="/guiaskids" >Limpieza de brackets</ion-button>
<ion-content>
  
  <ion-grid>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Consigue un cepillo de dientes especial para brackets. Dado que los brackets requieren la colocación de aparatos en los dientes, debes usar un cepillo dental (o cepillos dentales) adecuado. Compra un cepillo regular y considera la idea de también comprarte un cepillo dental interproximal para cepillarte entre los brackets.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Consigue un cepillo regular con cerdas suaves.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Asegúrate de que el tamaño y la forma del cepillo se adapten bien a tu boca, lo cual puede ayudarte a alcanzar todas sus áreas.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Si quieres, compra un cepillo dental interproximal. Esto te puede ayudar a limpiar entre los brackets de una manera más eficaz.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cambia los cepillos con cerdas deshilachadas cada 3 o 4 meses</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.0.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Prepara tu cepillo. Pon el cepillo de dientes bajo el agua y ponle un poco de pasta de dientes encima. Esto puede garantizar la limpieza más eficaz de tus dientes, brackets y cavidad oral.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Usa pasta de dientes con fluoruro. Así puedes fortalecer tus dientes y eliminar la placa, la cual puede acumularse alrededor de los brackets debido a un cepillado incorrecto.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Los brackets pueden dejar tus dientes sensibles, de modo que sería mejor que utilices una pasta dental con fluoruro para minimizar la sensibilidad.</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.1.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Cepíllate en cuatro secciones. Para cepillarte, divide tu boca en cuatro secciones: superior, izquierda, derecha e inferior. Delimitar secciones específicas puede asegurarte de que todas las superficies queden bien limpias.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cepíllate la sección que desees o la que se te hace más cómoda.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Asegúrate de cepillarte la lengua y también el paladar.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Mantén el cepillo de dientes en un ángulo de 45 grados y presiona suavemente. Asegúrate de que el cepillo entre en contacto con la superficie de los dientes y las encías.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cepilla la cara externa e interna de los dientes con movimientos cortos y repite el proceso en cada sección de tu boca.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cepilla la cara interna de los dientes frontales inclinando el cepillo en sentido vertical y haciendo varios movimientos hacia arriba y hacia abajo.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Presta atención a las superficies alrededor y en el medio de los brackets, que es donde se acumula la placa.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cepilla las superficies de masticación, la lengua y el paladar blando, y frota con un movimiento suave hacia adelante y hacia atrás.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          El uso de brackets implica que las encías siempre estarán ligeramente inflamadas, así que no te alarmes por posibles pequeños sangrados. Es normal.</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.2.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Utiliza tu cepillo dental interproximal. Cuando hayas terminado de usar tu cepillo regular, considera la posibilidad de usar un cepillo interproximal. Este puede ayudarte a limpiar de forma eficaz entre los brackets si te preocupa que tu cepillo normal no basta.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Cepíllate los dientes de dos en dos.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Inserta el cepillo desde la parte superior del alambre entre dos brackets y repite desde la parte de abajo.</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.3.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Usa hilo dental. Cada vez que te cepilles los dientes, tómate un tiempo para usar hilo dental. Debido a que los residuos pueden quedar atrapados en los dientes con brackets y la placa se puede acumular, el hilo dental te puede ayudar a eliminar residuos persistentes.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Saca unos 45 cm (18 pulgadas) de hilo dental del empaque. Envuélvelo alrededor de los dedos del medio. Agarra el resto del hilo entre el pulgar y el índice.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Pasa el hilo dental con delicadeza entre la parte superior de tu diente cerca de la encía y el arco del alambre principal de los brackets.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Utiliza un movimiento de sierra muy suave al lado de cada diente.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Consulta con tu ortodoncista si debes usar un tipo específico de hilo dental.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          El hilo que sirve para limpiar puentes dentales puede ser una buena opción, porque tiene una punta que pasa suavemente entre los dientes y las encías.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Prueba usar un irrigador bucal para limpiarte entre los dientes con chorros de agua si no te gusta el hilo dental regular o tu médico lo recomienda.</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.4.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Usa un enjuague bucal antiséptico. Usa enjuague bucal después de cepillarte y usar hilo dental. Los estudios han demostrado que usar un enjuague bucal puede reducir la placa, que puede ser un problema para las personas con brackets. También puede ayudarte a limpiar partículas de alimentos o bacterias persistentes.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Haz gárgaras con el enjuague bucal.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Compra un enjuague bucal con clorhexidina, que muchos profesionales del cuidado bucal recomiendan. Los enjuagues bucales que contienen alcohol pueden secar la boca y provocar mal aliento.</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.5.png" class="imgL"></ion-img>
      <ion-row class="box">
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Toma un analgésico. Es posible que tengas un poco de sensibilidad si te han ajustado los brackets recientemente. No dejes que esto te impida cepillarte. Toma un analgésico de venta libre para aliviar el malestar.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Toma analgésicos de venta libre como aspirina, ibuprofeno, naproxeno sódico o acetaminofeno.
          <br><ion-icon name="chevron-forward-outline"></ion-icon>
          Infórmale a tu ortodoncista si sientes mucho dolor</p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids3.6.png" class="imgL"></ion-img>
      </ion-grid>
</ion-content>