<app-header titulo="Cuidado bucal"></app-header>

<ion-content style="border: 5px black; border-color:brown">
  <div style="border-color: balck;">
  <ion-grid style="background-color: rgb(156, 231, 235) ; border: 2px solid black; border-radius: 5%; margin-top: 20px;" class="content">
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Cepille los dientes y las encías de su hijo por lo menos dos veces al día y en especial antes de ir a la cama. </p>
      </ion-row>  
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Permítale que se cepille por sí mismo para que adquiera el hábito, pero usted debe supervisar y hacerle el verdadero cepillado.</p>
      </ion-row>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Ir al dentista cada 6 meses. Dígale al dentista si su hijo se chupa el pulgar o respira a través de la boca.</p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Cuando le salgan los dientes, debería comenzar a usar el hilo dental cada noche antes de ir a la cama. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Si puede necesitar tratamiento de ortodoncia para prevenir problemas a largo plazo. </p>
      </ion-row>
      </ion-grid>
      <ion-img src="../../../../assets/img/guia cuidado del los dientes.png"></ion-img>
    </div>
</ion-content>
