<app-header titulo="Dibujos"></app-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-grid>


       <ion-list>
        <ion-item expand="block"  routerLink="/dibujoskids1" >
            <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img>
            <ion-label>Dibujo 1</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item expand="block" routerLink="/dibujoskids2">
            <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img>
            <ion-label>Dibujo 2</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item expand="block"  routerLink="/dibujoskids3">
            <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img>
            <ion-label>Dibujo 3</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
        
    </ion-list>
    
  </ion-grid>
</ion-content>

