<app-header titulo="Dibujos"></app-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-grid>

       <ion-col>
          <ion-row>
                <ion-button expand="block"  routerLink="/dibujoskids1">Dibujo 1</ion-button>
          </ion-row>
          <ion-row>
        <ion-button expand="block">Dibujo 2</ion-button>
          </ion-row>
          <ion-row>
              <ion-button expand="block">Dibujo 3</ion-button>
          </ion-row>

       </ion-col>
    
  </ion-grid>
</ion-content>

