<app-header titulo="Guías"></app-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    
    <ion-grid>
 
         <ion-col>
            <ion-row>
                <ion-button expand="block" routerLink="../guiaskids2" >Cepillado de dientes</ion-button>
            </ion-row>
            <ion-row>
                <ion-button expand="block" routerLink="../guiaskids1">Uso del hilo dental</ion-button>
            </ion-row>
            <ion-row>
                <ion-button expand="block">Limpieza de brackets</ion-button>
            </ion-row>


         </ion-col>
      
    </ion-grid>
</ion-content>