<app-header titulo="Guías"></app-header>

<ion-content>
    <ion-button class="welcome" >Bienvenido</ion-button>
    
    <ion-grid>

        <ion-list>
            <ion-item expand="block"  routerLink="../guiaskids2" >
                <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img >
                <ion-label>Cepillado de dientes</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item expand="block" routerLink="../guiaskids1">
                <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img >
                <ion-label>Uso del hilo dental</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
             
            <ion-item expand="block"  routerLink="../guiaskids3">
                <ion-img  src="../../../assets/img/icono diente.jpeg" class="thumbnail"></ion-img >
                <ion-label>Limpieza de brackets</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
            
        </ion-list>
 
         
      
    </ion-grid>
</ion-content>