<app-header titulo="Cepillado"></app-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Coloque el cepillo de dientes formando un  ángulo de 45° con las encías. </p>
      </ion-row>  
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Mueva el cepillo adelante y atrás suavemente con movimientos cortos que cubran los dientes por completo.</p>
      </ion-row>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Cepille los dientes por las superficies exteriores, las interiores y las de masticar.</p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Para limpiar las superficies interiores de los dientes frontales, incline el cepillo en sentido vertical y realice varios movimientos arriba y abajo. </p>
      </ion-row>
      </ion-grid>
</ion-content>