<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>DentalQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../assets/img/logo1.jpg" class="imgL"></ion-img>
       </ion-col>
     </ion-row>
     <ion-row>
        <h1 class="imgtl">Quintana Roo Libre de caries.</h1>
     </ion-row>

     <ion-row>
        <ion-button class="buttonp" routerLink="/padres">
        Padres
        </ion-button>
     </ion-row>
 
     <ion-row>
        <ion-button class="buttonk" routerLink="/kids">
          kids
        </ion-button>
     </ion-row>
  </ion-grid>

  
 

</ion-content>
