<app-header titulo="Consejos"></app-header>

<ion-content>
   
    <ion-grid>
 
         <ion-col>
            <ion-row>
                <ion-button expand="block" routerLink="../consejo1">Cepillado de dientes</ion-button>
            </ion-row>
            <ion-row>
                <ion-button expand="block">Prevención de caries</ion-button>
            </ion-row>
            <ion-row>
                <ion-button expand="block">Cuidado de encias</ion-button>
            </ion-row>
            <ion-row>
                <ion-button  expand="block">Uso de enjuagues</ion-button>
            </ion-row>


         </ion-col>
      
    </ion-grid>
</ion-content>
