<app-header titulo="Encias"></app-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Cepíllate los dientes dos veces al día, durante al menos dos minutos cada vez. </p>
      </ion-row>  
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Límpiate los dientes con hilo dental al menos una vez al día.</p>
      </ion-row>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Lleva una alimentación equilibrada.</p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Visita a tu dentista regularmente. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> No fumes ni consumas productos derivados del tabaco o cigarrillos electrónicos ("vapeadores"). </p>
      </ion-row>
      </ion-grid>
</ion-content>