<app-header titulo="DentalQR"></app-header>
<ion-button routerLink="/consejoskids" >Cuidado de encias</ion-button>

<ion-content style="border: 5px black; border-color:brown">
  <div style="border-color: balck;">
  <ion-grid style="background-color: rgb(156, 231, 235) ; border: 2px solid black; border-radius: 5%; margin-top: 20px;" class="content">
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Cepíllate los dientes dos veces al día, durante al menos dos minutos cada vez. </p>
      </ion-row>  
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Límpiate los dientes con hilo dental al menos una vez al día.</p>
      </ion-row>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> Lleva una alimentación equilibrada.</p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> Visita a tu dentista regularmente. </p>
      </ion-row>
      <ion-row>
        <p class="pt"> <ion-icon name="nutrition-outline"></ion-icon> No fumes ni consumas productos derivados del tabaco o cigarrillos electrónicos ("vapeadores"). </p>
      </ion-row>
      </ion-grid>
      <ion-img src="../../../../assets/img/cuidado de encias.png"></ion-img>
    </div>
</ion-content>