<app-header titulo="Consejos"></app-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-grid>

       <ion-col>
          <ion-row>
                <ion-button expand="block"  routerLink="/consejokids1">Cepillado de dientes</ion-button>
          </ion-row>
          <ion-row>
        <ion-button expand="block" routerLink="/consejokids2">Prevención de caries</ion-button>
          </ion-row>
          <ion-row>
              <ion-button expand="block" routerLink="/consejokids3">Cuidado de encias</ion-button>
          </ion-row>
          <ion-row>
              <ion-button  expand="block" routerLink="/consejokids4">Guia del cuidado bucal</ion-button>
          </ion-row>


       </ion-col>
    
  </ion-grid>
</ion-content>
