
h1.h1c{
    text-align: center;
    font-family: Robotobold;
    font-size: 25px;
    text-decoration: underline;

}

.button{
    height: 40px;
    width: 300px;
}
.imgL{
    border-radius: 50%;
    height: 300px;
}

h1.imgtl {
    font-family: arial, helvetica, roboto, "new times roman", lato;
    font-size: 40px;
    text-align: left;
    margin-left: 10%; 
    margin-right: 10%;
}

.box{

    background-color: rgb(156, 231, 235) ;
    border-radius: 20px;
    
}