<app-header titulo="Guías"></app-header>

<ion-content>
  
  <ion-grid>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Parta un trozo de hilo dental de unas 18 pulgadas (43 cm) y enróllelo alrededor del dedo corazón. Enrolle el resto de la seda alrededor del mismo dedo de la otra mano. Este dedo será el que recoja la seda según se ensucia. Sujete la seda con firmeza entre los pulgares e índices. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids1.png" class="imgL"></ion-img>
      </ion-grid>
</ion-content>