<app-header titulo="Hilo dental"></app-header>

<ion-content>
  
  <ion-grid>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Parta un trozo de hilo dental de unas 18 pulgadas (43 cm) y enróllelo alrededor del dedo corazón. Enrolle el resto de la seda alrededor del mismo dedo de la otra mano. Este dedo será el que recoja la seda según se ensucia. Sujete la seda con firmeza entre los pulgares e índices. </p>
      </ion-row>  
      <ion-img src="../assets/img/guiaskids1.png" class="imgL"></ion-img>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
           	Pase la seda entre los dientes con movimientos suaves. No meta nunca el hilo dental con brusquedad en las encías. </p>
      </ion-row> 
      <ion-img src="../assets/img/guiaskids1.2.png" class="imgL"></ion-img>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
           	Cuando el hilo dental alcance la línea de las encías, dóblela formando una C contra un diente. Deslícela cuidadosamente por el espacio entre la encía y el diente. </p>
      </ion-row>
      <ion-img src="../assets/img/guiaskids1.3.png" class="imgL"></ion-img>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Sujete el hilo con firmeza contra el diente. Con suavidad, frote el lateral del diente y retire el hilo de la encía con movimientos ascendentes y descendentes. </p>
      </ion-row> 
      <ion-img src="../assets/img/guiaskids1.4.png" class="imgL"></ion-img>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Repita este método en el resto de los dientes. No se olvide de la parte trasera del último diente. </p>
      </ion-row> 
      <ion-img src="../assets/img/guiaskids1.5.png" class="imgL"></ion-img>
      <ion-row>
        <p class="pt"><ion-icon name="nutrition-outline"></ion-icon> 
          Una vez que termines, tira la seda dental usada a la basura. Un pedazo usado de seda dental no será tan eficaz y podría dejar bacterias en tu boca. </p>
      </ion-row>
      </ion-grid>
</ion-content>