.imgL{
    border-radius: 50%;
    height: 300px;
}

h1.imgtl {
    font-family: arial, helvetica, roboto, "new times roman", lato;
    font-size: 40px;
    text-align: left;
    margin-left: 10%; 
    margin-right: 10%;
}