<app-header titulo="Padres"></app-header>

<ion-content>
    <ion-grid>
        <ion-col>
            <ion-row>
             <h1 class="welcome">Bienvenido</h1>   
            </ion-row>  
            <ion-row>

            </ion-row>
            <ion-row>
                <ion-button color='light'  class="buttonp" routerLink="/padres" >
                Padres
                </ion-button>

                <ion-button class="buttonk" routerLink="/kids">
                Niñ@s
                </ion-button>
            </ion-row> 
            
            
           
        </ion-col>


    </ion-grid>
   
    <ion-grid>

        <ion-col>
            <ion-row>
                <ion-button color=clear class="buttonpc" routerLink="/consejos">
                    <ion-icon name="ear-outline"></ion-icon>
                Consejos
                </ion-button>
                <ion-button  color=clear class="buttonpp" routerLink="/preguntas">
                    <ion-icon name="clipboard-outline"></ion-icon>
                Preguntas
                </ion-button>                
            </ion-row>
            <ion-row>
                <ion-button color=clear class="buttonpm" routerLink="/multimedia">
                    <ion-icon class="iconp" size="large" name="play-circle-outline"></ion-icon>
                Multimedia
               
                </ion-button>
                <ion-button color=clear  class="buttonpco" routerLink="/chat">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                Contacto
                </ion-button>                
            </ion-row>
            <ion-row>
                <ion-button  class="buttonref" routerLink="/referenciados">
                    Clinicas recomendadas
                </ion-button> 
            </ion-row>
        </ion-col>
    </ion-grid>

</ion-content>
