<app-header titulo="Padres"></app-header>

<ion-content>
    <ion-grid>
        <ion-col>
            <ion-row>
             <h1 class="welcome">Bienvenido</h1>   
            </ion-row>  
            <ion-row>

            </ion-row>
            <ion-row>
                <ion-button color='light'  class="buttonp" routerLink="/padres" >
                Padres
                </ion-button>

                <ion-button class="buttonk" routerLink="/kids">
                Kids
                </ion-button>
            </ion-row> 
            
            
           
        </ion-col>


    </ion-grid>
   
    <ion-grid>

        <ion-col>
            <ion-row>
                <ion-button class="buttonpc" routerLink="/kids">
                Consejos
                </ion-button>
                <ion-button  class="buttonpp" routerLink="/kids">
                Preguntas
                </ion-button>                
            </ion-row>
            <ion-row>
                <ion-button  class="buttonpm" routerLink="/kids">
                Multimedia
                </ion-button>
                <ion-button  class="buttonpco" routerLink="/kids">
                Contacto
                </ion-button>                
            </ion-row>
        </ion-col>
    </ion-grid>

</ion-content>
